#include <resource.h>
#include <windows.h>

IDD_ASSERTDIALOG DIALOGEX 0, 0, 360, 240
STYLE DS_SYSMODAL | DS_SETFONT | DS_SETFOREGROUND | DS_3DLOOK | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION
EXSTYLE WS_EX_TOPMOST | WS_EX_TOOLWINDOW
CAPTION "Assertion failed"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    LTEXT           "",IDC_STATIC,1,1,358,30
    PUSHBUTTON      "Abort",IDC_BUTTONABORT,1,225,50,14,BS_FLAT | WS_GROUP
    DEFPUSHBUTTON   "Break",IDC_BUTTONBREAK,207,225,50,14,BS_FLAT | WS_GROUP
    PUSHBUTTON      "Ignore",IDC_BUTTONIGNORE,258,225,50,14,BS_FLAT | WS_GROUP
    PUSHBUTTON      "Ignore all",IDC_BUTTONIGNOREALL,309,225,50,14,BS_FLAT | WS_GROUP
    EDITTEXT        IDC_EDITCALLSTACK,1,32,358,193,ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER | WS_VSCROLL | NOT WS_TABSTOP
END
