ARCHS = $(ARCHS_UNIVERSAL_IPHONE_OS)
SDKROOT = iphoneos
GCC_PREPROCESSOR_DEFINITIONS_PLATFORM[arch=i386] = BE_STATIC _IPHONE _DARWIN _X86 BE_PLATFORM="platform_iphone"
GCC_PREPROCESSOR_DEFINITIONS_PLATFORM[arch=x86_64] = BE_STATIC _IPHONE _DARWIN _AMD64 _X64 BE_PLATFORM="platform_iphone"
GCC_PREPROCESSOR_DEFINITIONS_PLATFORM[arch=ppc] = BE_STATIC _IPHONE _DARWIN BE_BIGENDIAN _POWERPC _PPC BE_PLATFORM="platform_iphone"
GCC_PREPROCESSOR_DEFINITIONS_PLATFORM[arch=ppc64] = BE_STATIC _IPHONE _DARWIN BE_BIGENDIAN _POWERPC _PPC _PPC64 BE_PLATFORM="platform_iphone"
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
USE_HEADERMAP = NO
CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Developer
