ARCHS = $(ARCHS_UNIVERSAL_IPHONE_OS)
SDKROOT = iphoneos
CODE_SIGN_IDENTITY = 
CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Developer
OTHER_LDFLAGS = -all_load
GCC_TREAT_WARNINGS_AS_ERRORS = YES
GCC_WARN_ABOUT_INVALID_OFFSETOF_MACRO = NO
GCC_ENABLE_PASCAL_STRINGS = NO
GCC_OPTIMIZATION_LEVEL = 3
GCC_SYMBOLS_PRIVATE_EXTERN = YES
