ARCHS = $(ARCHS_UNIVERSAL_IPHONE_OS)
SDKROOT = iphoneos
GCC_PREPROCESSOR_DEFINITIONS[arch=arm6] = _IPHONE _ARM
GCC_PREPROCESSOR_DEFINITIONS[arch=arm7] = _IPHONE _ARM
GCC_PREPROCESSOR_DEFINITIONS[arch=x86] = _IPHONE _X86
GCC_PREPROCESSOR_DEFINITIONS[arch=x86_64] = _IPHONE _AMD64
GCC_PREPROCESSOR_DEFINITIONS[arch=ppc] = _IPHONE _PPC
CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Developer
