ARCHS = $(ARCHS_STANDARD_32_64_BIT)
SDKROOT = macosx10.5
GCC_PREPROCESSOR_DEFINITIONS_PLATFORM[arch=i386] = BE_STATIC _OSX _DARWIN _X86 BE_PLATFORM="platform_darwin"
GCC_PREPROCESSOR_DEFINITIONS_PLATFORM[arch=x86_64] = BE_STATIC _OSX _DARWIN _AMD64 _X64 BE_PLATFORM="platform_darwin"
GCC_PREPROCESSOR_DEFINITIONS_PLATFORM[arch=ppc] = BE_STATIC _OSX _DARWIN BE_BIGENDIAN _POWERPC _PPC BE_PLATFORM="platform_darwin"
GCC_PREPROCESSOR_DEFINITIONS_PLATFORM[arch=ppc64] = BE_STATIC _OSX _DARWIN BE_BIGENDIAN _POWERPC _PPC _PPC64 BE_PLATFORM="platform_darwin"
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
USE_HEADERMAP = NO
ARCHS = $(NATIVE_ARCH)
ONLY_ACTIVE_ARCH = YES
OTHER_LDFLAGS = -all_load -framework OpenGL -framework Cocoa
GCC_TREAT_WARNINGS_AS_ERRORS = YES
GCC_WARN_ABOUT_INVALID_OFFSETOF_MACRO = NO
GCC_ENABLE_PASCAL_STRINGS = NO
GCC_OPTIMIZATION_LEVEL = 0
GCC_SYMBOLS_PRIVATE_EXTERN = YES
